<div class="submission-message">
  <p>Thank you for your submission! Your report will be reviewed by an administrator.</p>
</div>
<div class="submission-actions">
  <a href="/" class="button">Return Home</a>
</div>