<div class="monthly-report-instructions">
  <div class="section">
    <p>To start a new report:</p>
    <ol class="instruction-steps">
      <li class="instruction">Select a date.</li>
      <li class="instruction">Choose a property.</li>
      <li class="instruction">Click continue.</li>
      <li class="instruction">
        Pick a transaction to apply to each tenant. If there is a transaction 
        you would like to apply to multiple tenants, select the transaction
        underneath 'Apply to page'.
      </li>
      <li class="instruction">
        Use the next and previous buttons to view different pages of tenants, 
        and apply transactions as necessary.
      </li>
      <li class="instruction">
        When you're done, navigate to the last page and click 'Submit for Approval'
        to send the report to a manager to review.
      </li>
    </ol>
  </div>
  <div class="section">
    <p>To resume a report you started earlier:</p>
    <ol class="instruction-steps">
      <li class="instruction">
        Select a date that contains the month and year of the report you started.
      </li>
      <li class="instruction">
        Select the property that the report was for.
      </li>
      <li class="instruction">
        Click continue, and the next screen will show the report as you left it.
      </li>
    </ol>
  </div>
</div>