<div class="actions">
  <div class="initial-actions">
    <input type="button" class="button" value="Continue" />
  </div>
  <div class="secondary-actions hide">
    <input type="submit" class="button" value="Submit For Approval" />
    <input type="button" class="button" value="Cancel" />
  </div>
</div>